body {
    text-align: center;
    background: linear-gradient(#ff00fb 0%, #ff0d00 100%);
}

img {
    height: 300px;
    width: 400px;
    border: dashed 10px;
    border-radius: 30px;
}

.menu{
    list-style: none;
    font-family: cursive;
    top: 10px;
    right: 10px;
    left: 20px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}
.link{
    float: left;
    color: blue;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: cursive;
    font-size: 20px;
}
.link:hover{
    background-color: floralwhite;
        
}
#hobby{
    margin-top:100px;
}